<style type="text/css">
    @import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

    @media screen and (max-width: 1000px) {
        .menu-container {
            flex-direction: column;
        }
    }

    * {
        font-family: Quicksand;
        background: #12232E;
        color: white;
    }
    
    a {
        text-decoration: none;
    }

    li {
        text-align: left;
    }

    h1 {
        text-align: center;
        margin-bottom: -25px;
    }

    .menu-container {
        display: flex;
        flex-wrap: wrap;
        width: 900px;
        margin: 0 auto;
    }

    .restaurant {
        margin: 75px auto;
        text-align: center;
        padding: 15px;
        display: inline-block;
        border: 2px solid #4DA8DA;
        box-shadow: 5px 5px 5px #203647;
        border-radius: 15px;
    }

    .restaurant:hover {
        transform: scale(1.1);
        transition-duration: 0.5s;
    }

    .restaurant img {
        max-width: 250px;
    }
</style>


<h1>Restaurants</h1>
<div class="menu-container">
    {{#each restaurants}}
        <div class="restaurant">
            <a href="/restaurants/{{this.id}}">
            <h2>{{this.name}}</h2>
            <img src="{{this.image}}" alt="">
            {{#each this.menus}}
                <h2>{{this.title}}</h2>
                <ul>
                    {{#each this.items}}
                    <li>{{this.name}} - £{{this.price}}</li>
                    {{/each}}
                </ul>
            {{/each}}
            </a>
        </div>
    {{/each}}
</div>