<style>
    @import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
    * {
        font-family: Quicksand;
        background: #12232E;
        color: white;
    }
    
    a {
        display: block;
        margin-bottom: 20px;
    }

    img {
        max-width: 100%;
    }

    .container {
        margin: 0 auto;
        width: 800px;
        text-align: center;
    }

    .container ul {
        margin: 0 auto;
        width: 350px;
    }

    .container li {
        margin: 15px;
    }
</style>

<div class="container">
    <h1>{{this.restaurant.name}}</h1>
    <a href="/">HOME</a>
    <a href="/restaurants/{{this.restaurant.id}}/edit"><strong>Edit</strong> this restaurant</a>
    <a href="/restaurants/{{this.restaurant.id}}/delete"><strong>Delete</strong> this restaurant</a>
    <a href="/restaurants/{{this.restaurant.id}}/rating"><strong>Leave a rating</a>
    <img src="{{this.restaurant.image}}" alt="{{this.restaurant.name}}">
    {{#each this.menus}}
        <h2>{{this.title}}</h2>
        <ul>
            {{#each this.items}}
            <li>{{this.name}} - {{this.price}}</li>
            {{/each}}
        </ul>
    {{/each}}
</div>